.description {
	max-width: 24vw;
	position: absolute;
	font-size: calc(var(--index) * 0.8);
	top: 20vh;
	left: 8vw;
	transition: opacity var(--transition) transform var(--transition);
	transition-duration: 1s;

	&__logo {
		font-size: calc(var(--index) * 3.5);
		font-weight: 900;
		display: inline-block;
		background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	p {
		opacity: 0.9;
		transition: transform var(--transition);
	}

	&.hidden {
		opacity: 0;
		transform: translateY(5vh);

		p {
			transform: translateY(2vh);
		}
	}
}