// libs
@use "../assets/css-libs/normalize.min.css" as *;

// helpers
@use "./base/variables.scss" as *;
@use "./base/mixins.scss" as *;
@use "./base/base_styles.scss" as *;

// sections
@use "sections/description/description.scss" as *;
@use "sections/slider/slider.scss" as *;

@font-face {
	font-family: Raleway_v22;
	src: url('../assets/fonts/raleway-v22-cyrillic-300.woff2');
	font-weight: 300;
}

@font-face {
	font-family: Raleway_v22;
	src: url('../assets/fonts/raleway-v22-cyrillic-900.woff2');
	font-weight: 900;
}